.container, .page{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page__bd{
  height: 100%;
  background-color: #f5fafe;
  overflow-y: auto;
}
.tab{
  display: none;
}
.tab.show{
  display: block;
}
.fruit-items{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.fruit-item{
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.item-con{
  background-color: #fff;
  text-align: center;
}
.pic img{
  width: 100%;
  height: 100%;
}
.trolley {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.weui-media-box {
  background-color: #fff;
  
}
.my {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.weui-media-box__thumb {
  border-radius: 50%;
  overflow: hidden;
}
.weui-cell__bd {
  display: flex;
}
.user-page__info {
  flex: 1;
}
.user-page__detail {
 float: right;
}
