body{
    margin: 0;
    height: 100vh;
    /* vh (view height)根据可视区域高度来确定高度，跟百分比类似，兼容性不好,少用 */
    background: url('https://unsplash.it/1500/900?image=1021');
    background-size: cover;
    /* 背景图尺寸，覆盖，铺满等 */
    display: flex;
    /* 设置为弹性容器 */
    justify-content: center;
    /* 设置弹性容器在主轴（横轴）方向上的对齐方式 */
    align-items: center;
    /* 纵轴上的对齐方式 */
}
.wrapper{
    width: 850px;
    display: flex;
    /* 当父级容器是弹性容器时，子容器等比继承父容器属性 */
}
video{
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    /* box-shadow三个属性： X轴偏移，Y轴偏移，模糊程度，越大越模糊，颜色rgb后面的a表示透明度 */
}
.speed{
    background: rgb(245, 242, 242);
    flex: 1;
    /* 子容器自动放大，占满剩余空间，常用于自适应布局 */
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    /* 超出部分隐藏 */
}
.speed-bar{
    width: 100%;
    height: 16.3%;
    background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
    /* 背景颜色线性渐变，角度，初始颜色，终点颜色 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: #fff;
    cursor: pointer;
    /* 鼠标显示成小手 */
}
