*{
    margin: 0;
    /* 外边距 */
}
.page{
    padding: 50px 20px;
}
.title{
    font-weight: bold;
    font-size: 20px;
    font-family: serif '微软雅黑';
    margin-bottom: 30px;
}
.container{
    width: 1075px;
}
.content{
    width: 335px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 16px #aaa;
    /* x轴偏移，Y轴偏移，阴影扩散 */
    border-radius: 20px;
    /* 圆角弧度 */
    /* display: inline-block;  */
    float: left;
    /* 向左浮动 */
    margin-right: 20px;
}
.content:last-child{
    margin-right: 0;
}
/* 最后一个子容器 */
.content-title{
    font-weight: bold;
    font-size: 20px;
    font-family: serif '微软雅黑';
}
.content-desc{
    margin-top: 30px;
    /* 上外边距 */
    margin-bottom: 50px;
    /* 下外边距 */
}
.content .img{
   width: 295px;
   height: 295px;
   margin: 0 auto;
}
.img img{
    width: 100%;
}